.contactus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-line {
    width: 15%;
    height: 0.3rem;
    background-color: #1192a1;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2.5rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 2rem;
}

form div {
    margin: 1rem 0;
}

label {
    font-size: 1rem;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 1.2rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: #444;
    background-color: #e3e3e3;
    margin-top: 1rem;
}

textarea {
    resize: vertical;
}

button {
    background-color: #3c87e2;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 1rem;
    align-self: flex-end;
    width: 20%;
}