.contactus {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.c-line {
    width: 10%;
    height: 3px;
    background-color: #1192a1;
    margin-bottom: 20px;
    margin-left: 140px;
}

h2 {
    font-size: 3.5em;
    margin-top: 80px;
    margin-left: 40px;
    margin-bottom: 10px;
    color: #333;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 45%;
    padding-left: 40px;
}

.top{
    border-left: 5px solid #40cddd;
    padding-left:20px ;
}

.top p {
    font-size: 3.5rem;
    color: #666;
    margin-top: 0;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin: 20px;

}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin: 10px 0;
}

label {
    font-size: 1rem;
    color: #555;
}

.name-email{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


input[type="text"],
input[type="email"],
input[type="text"],
textarea {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #444;
    background-color: #e3e3e3;
    margin-top: 10px;
}

.name-email input {
    width: 90%;
}

input[type="email"],label[for="email"] {
    margin-left: 30px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #3c87e2;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 10px;
    align-self: flex-end;
    width: 20%;
    position: relative;
    right: -25px;
}