.footer{
    width: 100%;
    height: fit-content;
    background: #202020;
    color: white;
    display: flex;
    flex-direction: column;
}

.ftop{
    flex: 4;
    display: flex;
    flex-direction: row;
    padding: 4em 7em 2em 2em;
}

.fleft{
    flex: 1;
    padding: 0 0 0 0;
}

.flogo{
    margin: 2em 4em 2em 2em;
}

.footer-logo-img{
    width: 9em;
    height: 9em;
}

.fleft-mid{
    flex: 2;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.fmid{
    flex: 1;
    margin: 0.5em 2em 0 0;
}

.fmhead{
    font-size: 1.875rem;
    font-weight: 700;
}

.flist{
    display: flex;
    flex-direction: column;
    /* margin: 0 0 0 0; */
}

.flist-item{
    margin: 0.3em 0 0 0;
    color: #797979;
    font-size: 1.25rem;
    line-height: 140%;
    text-align: left;
}

.f-mid-row1, .f-mid-row2{
    display: flex;
    flex-direction: column;
}

.fright{
    flex: 1;
    margin: 0.5em 0 0 0;
}

.frhead{
    font-size: 1.875rem;
    font-weight: 700;
}

.flink-item{
    margin: 0.3em 0 0 0;
    color: #797979;
    font-size: 1.25rem;
    line-height: 140%;
    text-align: left;
}

.fline{
    opacity: 0.5;
    background-color: #797979;
    height: 0.1em;
    margin: 0 4em;
}

.fbottom{
    flex: 1;
    display: flex;
    flex-direction: row;
    color: #797979;
    margin: 1em 6em 0 6em;
}

.fcopyright{
    flex: 5;
}

.f-bottom-row2{
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.fprivacy{
    flex: 1;
    margin: 0 2em 0 0;
}

.fterms{
    flex: 1;
}

@media screen and (max-width: 900px){
    .ftop{
        margin: 0 0 0 2em;
    }
}

@media screen and (max-width: 700px){
    .ftop{
        flex-direction: column;
        margin: 2em 0 0 0em;
        padding: 0;
    }

    .fleft{
        margin: 0 auto;
    }

    .flogo{
        margin: 0;
        padding: 0;
    }

    .fleft-mid{
        margin: 0 auto;
        padding: 0 auto;
        white-space: nowrap;
    }

    .fmid{
        margin: 1em 1em 1em 0;
    }

    .flist, .flinks{
        display: flex;
        flex-direction: row;
        margin: 0.5em 0 0 0;
    }

    .f-mid-row1, .f-mid-row2, .f-right-row1, .f-right-row2{
        display: flex;
        flex-direction: column;    
    }

    .flist-item, .flink-item{
        margin: 0 1em 0 0;
    }

    .fright{
        margin: 1em 0 0 0;
    }

    .fline{
        margin: 0 0.2em;
    }

    .fbottom{
        flex-direction: column;
        margin: 1em auto;
        padding: 0;
        white-space: nowrap;
    }

    .f-bottom-row2{
        margin: 0.3em 0 0 0;
        display: flex;
        flex-direction: row;
    }

    .fprivacy{
        margin: 0 2em 0 0;
    }

    /* .fterms{

    } */
}