.home {
  /* width: 100vw; */
  height: 100vh;
  width: 100%;
  /* height: 46.125em; */
  margin: 4.3em 0 0 0;
  padding: 0 0 0 0;
  background: linear-gradient(
    180deg,
    rgba(4, 180, 185, 0.58) 41.52%,
    rgba(106, 131, 223, 0.58) 102.19%
  );
  display: flex;
  flex-direction: row;
}

.home-left {
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5em 0em 0em 6em;
}

.home-text {
  color: #051759;
  font-size: 4em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.5em 0;
}

.home-links {
  width: 28.125em;
  height: 4.25em;
  border-radius: 2.5em;
  background: #6a83df;
  align-self: baseline;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 0;
  margin: 2.5em 0 0 0;
}

.home-learnMore {
  flex: 1;
  color: #fff;
  font-size: 1.625em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-getInTouch {
  flex: 1;
  width: 50%;
  height: 100%;
  border-radius: 2.5em;
  background: #fff;
  font-size: 1.625em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right {
  z-index: 1;
  flex: 1;
  padding: 7em 7em 0 0;
  max-width: 50%;
}

@media screen and (max-width:1030px) {
  .home{
    flex-direction: column;
    height: max-content;
    padding: 0 0 2em 0;
  }

  .home-links{
    margin: 0em 20%;
  }

  .home-right{
    margin: 0 10% auto 25%;
    scale: 1.3;
  }

}

@media screen and (max-width:700px){
  .home-left{
    padding: 2em 3em 0em 3em;
  }

  .home-text{
    font-size: 3em;
    margin: 0 0 0.5em 0;
  }

  .home-links{
    margin: 0 0 0 -4.3em;
    scale: 0.7;
    /* height: 100%;
    width: 80%; */
  }

  .home-right{
    scale: 1.8;
    margin: 7em auto 0;
    padding: 0;
  }
}