/* howToUseUsSection.css */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.custom-underline {
  width: 100%;
}

.underlined-text {
  text-align: center;
  color: rgb(10, 10, 86);
  font-weight: 500;
  font-size: 40px; /* Adjusted font size for smaller screens */
}



.card-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 3px solid transparent;
  transition: border 0.3s ease;
  height: 350;
}

.header {
  font-size: 24px; /* Adjusted font size for smaller screens */
  font-weight: 700;
  background-image: linear-gradient(to left, #1d065c, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin-bottom: 10px;
}

.card-container:hover {
  border-color: rgb(25, 123, 214);
}

.image-section {
  max-width: 100%;
  height: auto; /* Adjusted height for smaller screens */
}

.image-section img {
  max-width: 100%;
  height: auto;
}

.card-container h1 {
  color: rgb(10, 10, 86);
  font-size: large; /* Adjusted font size for smaller screens */
}

.card-container p {
  color: grey;
  font-size: medium; /* Adjusted font size for smaller screens */
  font-weight: 500;
}

.flex-card {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .flex-card {
    flex-direction: row;
  }

  .card-container {
    width: 20%;
  }

  .card-container p {
    color: grey;
    font-size: medium; /* Adjusted font size for smaller screens */
    font-weight: 500;
    height: 160px;
  }


  

  .header {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .card-container p {
    font-size: large; /* Adjusted font size for larger screens */
  }
}
