/* howToUseUsSection.css */

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
  
  .how-custom-underline {
    width: 100%; /* Adjust to 100% to ensure it spans the screen width */
  }
  
  .how-underlined-text {
    text-align: center; /* Center the text horizontally */
    color: rgb(10, 10, 86);
    font-weight: 500;
   
    font-size: 80px;
  }
  .how-total-content{
   display: flex;
   flex-direction: column;
   justify-content:center;
   align-items: center;
   margin: 20px;
  }
  /* .how-underlined-text::before {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 25%;
    width: 50%;
    border-bottom: 6px solid #0c6d66;
  } */
  
  .how-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Adjust to 100% to ensure it spans the screen width */
    padding: 10px;
    margin: 10px;
    
    border: 3px solid transparent; /* Set an initially transparent border */
    transition: border 0.3s ease; /* Add a smooth transition for the border */
  }
  
  .how-header {
    font-size: 45px;
    font-weight: 750;
    background-image: linear-gradient(to left, #1d065c, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 5px; /* Adjust the margin to create space between the header and content */
  }
  
  .how-card-container:hover {
    border-color: rgb(25, 123, 214); /* Show the border on hover */
  }
  

  
  .how-card-container h1 {
    color: rgb(10, 10, 86);
    font-size: x-large;
  }
  
  .how-card-container p {
    color: grey;
    font-size: large;
    font-weight: 500;
 
  }
  
  .how-flex-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  

  @media only screen and (max-width: 768px) {
    /* For screens smaller than 768px (mobile phones): */
    .how-underlined-text {
      font-size: 40px; /* Adjust the font size for smaller screens */
    }
  
    .how-card-container {
      width: 200px;
      
      padding-bottom: 10px;
      margin: 20px; /* Adjust the width for full width on smaller screens */
    }
  
    .how-header {
      font-size: 30px; /* Adjust the font size for smaller screens */
    }
  
    .how-flex-card {
      flex-direction: column; /* Adjust to column for smaller screens */
      align-items: center; /* Center the content vertically */
    }
  }