.what-section{
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* Linear Gradient Background */


    width: 100%;
    
   
}

.what-section h1 {
 color: rgb(10, 10, 86);
}

.what-section h2 {
 color: rgb(10, 10, 86);
 font-size: 30px;
}


.what-section h4 {
 color: rgb(10, 10, 86);
}


.what-row{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.what-totalcontentcard{
    border-right: 2px solid #22222285;
    height: 280px; 
}
/* whatCanYouSection.css */
.what-section {
    text-align: left;
  }
  
  /* Add this class to the h1 element to override its default alignment */
  .what-section h1 {
    text-align: left;
  }


  /* Apply this CSS to your card element */
.what-card {
    width: 200px; /* Adjust this to your desired card width */
    
    padding: 20px;
    margin: 10px;

    transition: transform 0.3s ease; /* Apply a smooth transform transition */
  
    /* Set initial transform properties */
    transform-origin: center bottom;
    transform: translateY(0);
  }
  
  /* Define the hover effect to move the content up */
  .what-card:hover {
    transform: translateY(-60px); /* Move the content 10px up */
  }
  
  .what-card h4 {
    display: none;
  }

  .what-card:hover h4 {
    display: block;
    transition: transform 0.3s ease; /* Apply a smooth transform transition */
    transform: translateY(-10px); /* Move the content 10px up */
  }


  
  