/* General styles */
.whomain {
  padding-top: 5rem; /* Adjusted for responsiveness */
}

/* Styles for the body container */
.whobody {
  display: flex;
  flex-wrap: wrap; /* Allows the elements to wrap to a new line on smaller screens */
}

/* Style for the 'who-container' */
.who-container {
  flex: 1;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box; /* Includes padding in width calculation */
}

/* Style for the 'who' divs */
.who {
  margin: 1.5rem 0;
  padding: 1.5rem;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.052), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Vertically align content within the 'who' div */
}

/* Style for the 'who-img' on the right side */
.who-img {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  flex: 1;
  padding: 10px;
}

.who-img img {
  max-width: 100%; /* Ensure the image doesn't exceed its container width */
  height: auto;
}

/* Media Query for responsiveness */
@media screen and (max-width: 768px) {
  .whomain {
    padding-top: 3rem;
  }
  .who {
    padding: 1rem; /* Adjust padding for smaller screens */
  }
}
